* {
  box-sizing: border-box;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* max-width: 400px; */
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  flex-wrap: wrap;
}

.li {
  /* border: 3px solid rgba(0, 0, 0, 0.1); */
  border-radius: 6px;
  box-shadow: 1px 1px 6px 6px rgba(169, 169, 169, 0.25);
  padding: 15px;
  margin: 20px;
  width: 20%;
  transition: all 0.2s ease-out;
}

.li:hover {
  transform: translateY(-10px);
  cursor: pointer;
  box-shadow: 1px 1px 6px 6px rgba(64, 64, 64, 0.40);
  /* border-bottom: 0px solid #A9A9A9; */
}

.content {
  width: 100%;
  text-align: center;
  /* margin: 5px; */
}

.title {
  /* margin: 5px;
  margin-inline: 15px; */
  font-size: 18px;
}

.sdesciption {
  margin-inline: 20px;
  text-align: justify;
  font-size: 16px;
}

.img {
  /* border: 1px solid #ddd;
  border-radius: 2px;
  float: center; */
  padding: 5px;
  width: 100%;
}